<div class="panel panel-default">
	<div class="panel-heading">
		<h2>Contato</h2>
	</div>
	<div class="panel-body">
		<address>
			<p> Coordenação do Curso de Bacharelado em Arquitetura e Urbanismo </p>
			<p>Av. Dr. Siqueira, 273</p>
			<p>Parque Dom Bosco</p>
			<p>Campos dos Goytacazes</p>
			<p>Cep : 28030-305</p>			
			<p> Telefone:	 <phone>(022) 2726-2908</phone> </p>
			<p> Email:	<a href="mailto:arqurb.centro@iff.edu.br">arqurb.centro@iff.edu.br</a><br> 
			</address>
		</div>
	</div>
		


